h1 {
    flex: 0 0 auto;
}

.title {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.title.text {
    font-size: 1.5em;
    font-weight: bold;
}

.container {
    height: inherit;
    width: inherit;
}